$clr-dark: #404040;
$clr-acc: #BF9D7E;
$clr-acc-2: #F2E857;
$medium: (max-width: 800px);


.navbar {
    box-shadow: none;
    font-family: 'Didact Gothic',
        sans-serif;

}

.combo {
    @media (max-width: 800px) {
        text-align: center;
    }

}

.jumbotron {
    background-color: $clr-dark;
    max-height: 70vh;
}

.limited {
    filter: drop-shadow(12px 25px 15px black);
    max-height: 70vh;
} 

.btn-acc {
    background-color: $clr-acc-2;
}

.jumbo-title {
    color: $clr-acc-2;
}

.navbar {
    background-color: $clr-dark;

}

.nav-item {
    color: $clr-acc !important;
}

.navbar-brand {
    font-size: xx-large;
    font-weight: 1000;
}


#product-hero {
    height: fit-content;
}

#about-block {
    margin-top: 14vh;
    
    @media (max-width: 800px) {
        margin-top: 50vh;
        margin-bottom: 20vh;
    }

}

section {
    min-height: 100vh;
}

.rate {

    max-height: 100vh;
}

#features-block {
    background-color: $clr-dark;
    
}

.rg {
    filter: drop-shadow(0px 55px 35px black);
    height: 75vh;
    min-width: 70vh;

}

.feature-list {
    font-size: xx-large;
    color: $clr-acc;
    padding-top: 5vh;
}

.dark {
    background-color: $clr-dark;

}


// Product details 

.prod-main {
    max-height: 80vh;
}

.prod-row {
    margin-top: 20vh;
    @media (max-width: 768px) {
        margin-bottom: 10vh;
    }
}

.brdr {
    border: solid .75px black;
    cursor: pointer;
}

.prod-pic {
    @media (max-width: 768px) {
        text-align: center;
    }
}

.prod-buy {
    @media (max-width: 768px) {
        text-align: center;
    }
}

.btn-buy {
    @media (max-width: 768px) {
        width: 30vh;
        display: inline;
        
    }
}

.neon {
    background-color: $clr-acc-2 !important;
    color: black;
    text-transform: none;
}

.neon:hover {
    color: black;
}